# [dbo].[vw_display_all_data]

In [0]:
USE [payroll_service]
GO

In [0]:
/****** Object:  View [dbo].[vw_display_all_data]    Script Date: 04-May-22 3:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_display_all_data]
AS
SELECT CompanyID,CompanyName,EmployeeID,EmployeeName,Gender,PhoneNo,EmployeeAddress,StartDate,BasicPay,Deductions,TaxablePay,IncomeTax,NetPay,DepartmentName
FROM CompanyTable
INNER JOIN EmployeeTable ON CompanyTable.CompanyID = EmployeeTable.CompanySelect
INNER JOIN PayrollTable ON PayrollTable.EmployeeSelect = EmployeeTable.EmployeeID
INNER JOIN EmployeeDepartmentTable ON EmployeeDepartmentTable.EmployeeSelect = EmployeeTable.EmployeeID
INNER JOIN DepartmentTable ON DepartmentTable.DepartmentID = EmployeeDepartmentTable.DepartmentSelect
GO

# [dbo].[vw_hide_salary_data]

In [0]:
/****** Object:  View [dbo].[vw_hide_salary_data]    Script Date: 04-May-22 3:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_hide_salary_data] 
AS
SELECT CompanyName,EmployeeID,EmployeeName,Gender,PhoneNo,EmployeeAddress,StartDate,DepartmentName
FROM CompanyTable
INNER JOIN EmployeeTable ON CompanyTable.CompanyID = EmployeeTable.CompanySelect
INNER JOIN EmployeeDepartmentTable ON EmployeeDepartmentTable.EmployeeSelect = EmployeeTable.EmployeeID
INNER JOIN DepartmentTable ON DepartmentTable.DepartmentID = EmployeeDepartmentTable.DepartmentSelect;
GO